[Unit]
Description=On Air Light
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u Main.py
WorkingDirectory=/opt/OnAir
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target